body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.btn-tambah {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6A5ACD;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-tambah:hover {
    background-color: #5548c4;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group {
    margin-bottom: 10px;
}

.radio-group label {
    display: inline-block;
    margin-right: 20px;
}

button[type="submit"],
.btn-kembali {
    background-color: #6A5ACD;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover,
.btn-kembali:hover {
    background-color: #5748c6;
}

.btn-kembali {
    background-color: #7474dc;
}